* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-countainer {
  width: 50%;
  height: auto;
  margin: 50px auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.31rem;
}

.title-countainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-countainer h1 {
  font-size: 2rem;
  color: #333;
}

.form-countainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.div label {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.2rem;
}

.div input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
